@page "/movies/details"
@using System.Net.Http.Json
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <hr />
    @if (isLoading)
    {
        <p><em>Loading...</em></p>
    }
    else if (_movie is null)
    {
        <p><em>Movie not found.</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@_movie.Title</dd>
            <dt class="col-sm-2">Release Date</dt>
            <dd class="col-sm-10">@_movie.ReleaseDate</dd>
            <dt class="col-sm-2">Genre</dt>
            <dd class="col-sm-10">@_movie.Genre</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@_movie.Price</dd>
            <dt class="col-sm-2">Rating</dt>
            <dd class="col-sm-10">@_movie.Rating</dd>
        </dl>
        <div class="d-flex gap-1">
            <a href="@($"/movies/edit?id={_movie.Id}")" class="btn btn-warning btn-sm">Edit</a>
            <a href="@($"/movies")" class="btn btn-outline-secondary btn-sm">Back to List</a>
        </div>
    }
</div>

@code {
    private MovieDto? _movie;
    private bool isLoading = true;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("BlazorApi");
            _movie = await client.GetFromJsonAsync<MovieDto>($"/api/movies/{Id}");

            if (_movie is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        catch
        {
            NavigationManager.NavigateTo("notfound");
        }
        finally
        {
            isLoading = false;
        }
    }
}
